# Environnement virtuel
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]

# Données et Modèles (souvent trop lourds pour Git)
data/
ml/*.pkl
ml/*.joblib

# Fichiers de configuration sensibles
users.json
.env

# Notebooks (optionnel, selon si tu veux les partager ou non)
.ipynb_checkpoints/
*.pkl
